* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font: sans-serif;
    font-weight: 600;
}

button {
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    background-color: purple;
    border: 0;
    border-radius: 10px;
    color: #fff;
    min-width: 180px;
}
input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: goldenrod;
    
    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;
    
    /*required for proper track sizing in FF*/
    width: 300px;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: goldenrod;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: goldenrod;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background:goldenrod;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: goldenrod;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: purple;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 5px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: purple;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: purple;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: purple;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background:purple;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: purple;
}
input[type=range]:focus::-ms-fill-lower {
    background:  purple;
}
input[type=range]:focus::-ms-fill-upper {
    background: purple;
}